<p>
  <strong>Other fund sources:</strong>
  <%= @registrant.other_fund_sources %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to_name_with_icon @registrant.client %>
</p>

<p>
  <strong>Registration:</strong>
  <%= link_to_name_with_icon @registrant.registration %>
</p>

<%= link_to fa_icon(:highlighter), edit_registrant_path(@registrant), :title => 'Edit' %>
