<div class="bordered">
  <div class="inline">
    <div>
      <%= text_field :client, :first_name, :placeholder => 'First Name', :class => 'name_part' %>
      <%= text_field :client, :last_name, :placeholder => 'Last Name', :class => 'name_part' %>
      <%= text_field :client, :date_of_birth, :placeholder => 'Birthdate', :class => 'datepicker birthdate' %>
    </div>
  </div>
</div>
