<section>
  You have reached the Commissulator.
</section>

<% if current_agent %>
  <nav>
    <%= link_to 'Deals', deals_path %>
    
    <%= link_to 'Sign Out', destroy_agent_session_path, :method => :delete, :id => 'sign_out_link' %>
  </nav>
<% else %>
  <section>
    <%= link_to 'Authenticate', new_agent_session_path %> | 
    <%= link_to 'Register', new_agent_registration_path %>
  </section>
  
  <section>
    Once logged in, you will see the deals underway.
  </section>
<% end %>