<div id="landing">
  <section>
    Citi Pads is your broker for the best apartments in New York.
  </section>

  <section>
    This page is a tool for expediting the paperwork.
  </section>
  
  <section>
    If you need to use those tools, log in and get your instructions.
  </section>
  
  <section>
    Now let's make some money.
  </section>
</div>
<%= link_to 'Register', begin_registration_path %>
