<div id="landing">
  <section>
    Citi Pads is your amazing source for the best apartments in New York.
  </section>

  <section>
    This page is a tool for expediting the paperwork that will get you those precious keys.
  </section>
  
  <section>
    If you need to use those tools, make sure you log in and get your instructions.
  </section>
  
  <section>
    If you are in the market for a place to live, call today!
  </section>
  
  <section>
    Now, let's make some money!
  </section>
</div>
