<p>
  Thank you for completing that.  The information will help us find you the best apartments that are available in your search.
</p>

<p>
  If you'd like us to work together in this search, please complete a digital signature to indicate your agreement to these terms.
</p>

<p>
  Terms: I agree that my CitiPads agent is to be paid a 15% commission fee for any apartment that I access through this search.
</p>

<%= text_field :digital, :signature, :placeholder => 'Your Name Here' %>
