<p>I'm happy to inform that your access to Commissulator is active.</p>

<p>Commissulator is a tool that helps with some of the Citi Pads paperwork.</p>

<p>If you have confirmed your email, you can log in at <%= link_to 'https://citipads.tech', 'https://citipads.tech' %></p>

<p>Replies to this email may or may not be monitored.</p>
