<p>A person has requested access to Commissulator.</p>

<p>Name: <%= @avatar.name %></p>

<p>Email: <%= @avatar.email %></p>

<p><%= link_to 'Manage access here', avatars_url %></p>

<p>If no action is taken, this person will not have access.</p>

<p>All admins have been notified of this.</p>
