<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @role.rate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @role.active %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %>
