<div>
  <%= text_field :lease, :apartment_number, :placeholder => 'Apt', :class => 'address_part', :title => 'Apartment Number' %>
  <%= text_field :lease, :street_number, :placeholder => 'Bldg', :class => 'address_part', :title => 'Street Address (number)' %>
  <%= text_field :lease, :street_name, :placeholder => 'Street', :class => 'street' %>
  <%= text_field :lease, :zip_code, :placeholder => 'Zip', :class => 'zip' %>
</div>
