#commissions_table {
  .commission_removal {
    display: none;
    
    a {
      color: #900046;
    }
  }
}

#commission_assist_adder {
  text-align: center;
}

.commission_section {
  margin: 10px 3px;
  padding: 8px 5px;
  border: 1px solid black;
  border-radius: 9px;
}

input#agent_split_percentage_entry {
  width: 15px;
}

input#commission_apartment_number {
  width: 30px;
}

input#commission_zip_code {
  width: 60px;
}

input#commission_bedrooms {
  width: 20px;
}

input#commission_square_footage {
  width: 40px;
}

input#commission_commission_fee_percentage {
  width: 25px;
}

input.rent {
  width: 56px;
}

input.commission, input.referral_amount, input.listing {
  width: 60px;
}

#commission_participation_registration {
  text-align: center;
  padding-bottom: 10px;
  
  #assistant_adder {
    display: none;
  }
}

#checkboxes {
  
  label {
    display: inline-block;
    min-width: 130px;
    
    &.office {
      min-width: 40px;
    }
  }
}

.commission_vitals {
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  
  div {
    display: inline-block;
    padding: 5px;
  }
  
  #lessees {
    
  }
  
  #location {
    float: right;
    text-align: right;
  }
  
  #lease_basics {
    
  }
  
  #property_description {
    
  }
  
  #commission_navigation {
    text-align: right;
  }
}

.commission_financials {
  padding: 15px;
}

#commission_data_status {
  .commission_status {
    display: inline-block;
    padding: 1px;
    
    &.satisfied {
      color: #23AD23;
    }
    
    &.unsatisfied {
      color: #C62F0C;
      
      &.optional {
        color: #2363F2;
      }
    }
  }
}
