// Place all the styles related to the commissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#commission_apartment_number {
  width: 30px;
}

input#commission_zip_code {
  width: 60px;
}

input#commission_bedrooms {
  width: 15px;
}

input#commission_square_footage {
  width: 40px;
}

input#commission_commission_fee_percentage {
  width: 25px;
}

input.rent {
  width: 56px;
}

input.commission {
  width: 60px;
}

#commission_participation_registration {
  text-align: center;
  padding-bottom: 10px;
}

#checkboxes {
  
  label {
    display: inline-block;
    min-width: 130px;
    
    &.office {
      min-width: 40px;
    }
  }
}

.commission_vitals {
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  
  div {
    display: inline-block;
    padding: 5px;
  }
  
  #lessees {
    
  }
  
  #location {
    float: right;
    text-align: right;
  }
  
  #lease_basics {
    
  }
  
  #property_description {
    
  }
  
  #commission_navigation {
    text-align: right;
  }
}

.commission_financials {
  
}

#commission_data_status {
  .commission_status {
    display: inline-block;
    &.satisfied {
      color: #23AD23;
    }
    
    &.unsatisfied {
      color: #C62F0C;
      
      &.optional {
        color: #2363F2;
      }
    }
  }
}
