// Place all the styles related to the commissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#commission_apartment_number {
  width: 30px;
}

input#commission_zip_code {
  width: 60px;
}

input#commission_bedrooms {
  width: 15px;
}

input#commission_square_footage {
  width: 40px;
}

input#commission_commission_fee_percentage {
  width: 15px;
}

input.rent {
  width: 60px;
}

input.commission {
  width: 60px;
}