body {
  font-family: 'Nunito';
}

header {
  font-family: 'Cinzel';
}


.deal_portion_description {
  display: inline-block;
  width: 48%;
}

.deal_portion {
  display: inline-block;
  width: 48%;
  text-align: right;
}

.payout {
  padding: 6px;
  font-style: italic;
  font-size: 1.18em;
  text-align: center;
}

.document_list {
  min-width: 40px;
}

.follow_up {
  min-width: 70px;
}

.deletion {
  color: #DD4320;
}

#deals_table {
  .deal_removal {
    display: none;
    
    a {
      color: #900046;
    }
  }
}
