// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Nunito';
}

header {
  font-family: 'Cinzel';
}


.deal_portion_description {
  display: inline-block;
  width: 48%;
}

.deal_portion {
  display: inline-block;
  width: 48%;
  text-align: right;
}
