// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_out_link {
  float: right;
}

#top_floor_penthouse_navigation {
  a {
    color: #507EDC;
    
    &:hover {
      color: #B766DD;
    }
  }
}

a {
  color: #3194B0;
  
  &:hover {
    color: #3BCE4E;
  }
}

.central {
  margin-left: 5%;

  text-align: center;
}
