// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_out_link, #profile_link {
  float: right;
  padding-right: 10px;
}

#top_floor_penthouse_navigation {
  font-family: 'Fjalla One';
  
  a {
    padding: 4px;
    color: #507EDC;
    
    &:hover {
      color: #B766DD;
    }
    
    &#commissions_link {
      font-size: 1.2em;
    }
    
    &#new_commission_link {
      font-size: 1.2em;
      color: #D30026;
    }
  }
}

a {
  color: #3194B0;
  
  &:hover {
    color: #3BCE4E;
  }
}

.central {
  margin-left: 5%;

//  text-align: center;
}

.clearboth {
  clear: both;
}

.tools {
  font-family: Jua;
  font-size: 1.15em;
  
  a {
    padding: 6px;
    color: #F64CA5;
    
    &:hover {
      color: #EE9344;
    }
  }
}
