#sign_out_link, #profile_link {
  float: right;
  padding-right: 10px;
}

#top_floor_penthouse_navigation {
  margin-left: 55px;
  font-family: 'Fjalla One';
  
  a {
    padding: 4px 8px;
    color: #507EDC;
    
    &:hover {
      color: #B766DD;
    }
    
    &#commissions_link {
      font-size: 1.2em;
    }
    
    &#new_commission_link {
      font-size: 1.2em;
      color: #D30026;
    }
  }
}

#landing {
  padding-top: 100px;
  section {
    padding: 30px;
    font-size: 2em;
    font-style: italic;
    text-align: center;
  }
}

.devise {
  text-align: center;
  font-size: 1.13em;
  font-family: 'M PLUS Rounded 1c';
  letter-spacing: 1px;
  
  form {
    margin-top: 50px;
    margin-bottom: 100px;
    
    input {
      width: 200px;
    
      &.devise_check {
        width: 30px;
      }
    }
  }
  
  #devise_links {
    a {
      display: block;
      padding: 8px;
      font-style: italic;
      font-size: 0.8em;
    }
  }
}

a {
  color: #3194B0;
  
  &:hover {
    color: #3BCE4E;
  }
}

.central {
  margin-left: 60px;

//  text-align: center;
}

.clearboth {
  clear: both;
}

.tools {
  padding: 10px 2px;
  font-weight: bold;
  text-align: center;
  
  a {
    padding: 16px;
    color: #F64CA5;
    
    &:hover {
      color: #EE9344;
    }
  }
}
