.registration {
  
  .landlords_of_registration {
    
    .landlord {
      
    }
    
  }
  
  .leases_of_registration {
    
    .lease {
      
    }
  }
  
  .apartments_of_registration {
    
    .apartment {
      
    }
  }
  
  .client {
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px;
    padding: 10px;
    .registrant_for_client {
      
    }
    
    .employment_of_client {
      
      .employment {
        
        .industry {
          float: right;
        }
      }
    }
    
  }
}

#registration_interface {
  
  .reg_form_quadrant {
    margin: 5px;
    
    font-family: 'M PLUS Rounded 1c';
    font-size: 1.2em;
    display: inline-flex;
  }

  input, textarea {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 2px;
    font-family: 'M PLUS Rounded 1c';
    font-size: 1.2em;
    max-size: 75%;
  
    &.name_part {
      width: 140px;
    }

    &.address_part {
      width: 40px;
    }
  
    &.street {
      width: 150px;
    }
  
    &.zip {
      width: 90px;
    }
  
    &.medium {
      width: 110px;
    }
    
    &.birthdate {
      width: 120px;
    }
  }

  select {
    font-size: 1.2em;

    option {
      font-family: 'M PLUS Rounded 1c';
    }
  }

  .inline {
    display: inline-block;
  }

  .bordered {
    margin: 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
    background-color: #DAE2E5;
    box-shadow: 4px 4px 5px #6290C7;
  }

  p {
    font-size: 1.14em;
    padding-left: 25px;
  }
}

#registration_display {
  .inline {
    display: inline-block;
    padding: 5px 5px;
  }
  
  .sectioned {
    border-right: 1px solid black;
  }

  .bordered {
    margin: 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 4px 4px 5px;
  }
  
  .flexy {
//    display: inline-flex;
  }
  
  .label {
    font-weight: bold;
    display: inline-block;
  }
  
  .shaded {
    padding: 3px;
    background-color: #dfdfdf;
  }
}

nav#registration_navigation {
  margin: 14px;
  margin-left: 65px;
  font-family: 'Fjalla One';
  
  a {
    padding: 4px;
//    font-style: italic;
    
    &.secondary {
      font-size: 0.88em;
      color: #9BDAEF;
    }
    
    &.join {
      font-size: 0.82em;
      color: #CE7FEB;
    }
  }
}

header.document_title {
  float: right;
}

section.commission_agreement p {
  font-family: 'Quattrocento';
  font-size: 1.4em;
  line-height: 1.7em;
}

#commission_agreement_thanks {
  font-family: 'Quattrocento';
  text-align: center;
  display: none;
  font-size: 2em;
  font-style: italic;
  line-height: 3em;
}

@media print {
  body {
    margin: none;
  }
  
  .bordered {
    font-size: 0.75em;
  }
  
  .sectioned {
    max-width: 60%;
  }
  
  .flexy {
    display: block;
  }
  
  nav {
    display: none;
  }
  
  img {
//    display: none;
    height: 20px;
  }
}