<div class="inline">
  <div>
    <%= text_field :home_phone, :number, :placeholder => 'Home Phone' %>
  </div>
  <div>
    <%= text_field :cell_phone, :number, :placeholder => 'Cell Phone' %>
  </div>
  <div>
    <%= text_field :email, :address, :placeholder => 'Email' %>
  </div>
</div>
