<p>
  <strong>Name:</strong>
  <%= @referral_source.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @referral_source.active %>
</p>

<%= link_to fa_icon(:highlighter), edit_referral_source_path(@referral_source), :title => 'Edit' %>
